releases/*.zip filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/electron/dist/electron filter=lfs diff=lfs merge=lfs -text
frontend/dist-packages/win-unpacked/AI[[:space:]]Library.exe filter=lfs diff=lfs merge=lfs -text
